@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Lorem Loans</h1>
    <h3 class="display-5"><a asp-action="Loans" asp-controller="Home" class="btn btn-primary mt-5" style="font-size:1.4rem;">Take a loan</a></h3>
</div>
