@page
@model Homework_1.Pages.Task2Model
@{
}

<h1 class="text-center">
	Task 2
</h1>
<h3 class="text-center">
	<b>Задание</b>: Создайте и запустите базовое приложение ASP.NET
	Core, построенное на основании ASP.NET Razor Pages.
	Выведите надпись «Hello, World!» внутри веб-страницы.
</h3>
<h4 class="text-center mt-5">
	<b>Результат</b>: @Model.Message
</h4>