@page
@model Homework_1.Pages.Task4Model
@{
}

<h1 class="text-center">
	Task 4
</h1>
<h3 class="text-center">
	<b>Задание</b>: Создайте и запустите базовое приложение ASP.NET
	Core, построенное на основании ASP.NET Razor Pages.
	Выведите строку из файла appsettings.json.
</h3>
<h4 class="text-center mt-5">
	<b>Результат</b>:
	<p>@Model.Message1</p>
	<p>@Model.Message2</p>
	<p>@Model.Message3</p>
	<p>@Model.Message4</p>
</h4>