<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Task_1.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="nav-header">
        <nav class="menu">
            <a asp-area="" asp-page="/Index" class="menu__item" style="--bgColorItem: #ff8c00;">
                <i class="fa fa-home"></i>
            </a>

            <a asp-area="" asp-page="/Store" class="menu__item" style="--bgColorItem: #f54888;">
                <i class="fas fa-shopping-cart"></i>
            </a>

            <a asp-area="" asp-page="/Messages" class="menu__item" style="--bgColorItem: #4343f5;">
                <i class="fas fa-comments"></i>
            </a>

            <a asp-area="" asp-page="/Authorisation" class="menu__item" style="--bgColorItem:#65ddb7;">
                <i class="fas fa-user-circle"></i>
            </a>

            <div class="menu__border"></div>
        </nav>

        <div class="svg-container">
            <svg viewBox="0 0 202.9 45.5">
                <clipPath id="menu" clipPathUnits="objectBoundingBox" transform="scale(0.0049285362247413 0.021978021978022)">
                    <path d="M6.7,45.5c5.7,0.1,14.1-0.4,23.3-4c5.7-2.3,9.9-5,18.1-10.5c10.7-7.1,11.8-9.2,20.6-14.3c5-2.9,9.2-5.2,15.2-7
          c7.1-2.1,13.3-2.3,17.6-2.1c4.2-0.2,10.5,0.1,17.6,2.1c6.1,1.8,10.2,4.1,15.2,7c8.8,5,9.9,7.1,20.6,14.3c8.3,5.5,12.4,8.2,18.1,10.5
          c9.2,3.6,17.6,4.2,23.3,4H6.7z" />
                </clipPath>
            </svg>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="display:flex; text-align:center">
        <div class="container">
            ©Lorem Ipsum Copyright
        </div>
        <div class="container">
            Our Email: loremipsum@shop.com
        </div>
        <div class="container">
            Our Phone: +1 201-555-0123
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>