<container class="about-page">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <main-text class="about-title">About Us</main-text>
            <p class="about-description">
                Welcome to our tech-selling shop! We're dedicated to providing the latest and greatest tech products to our customers. With a wide range of smartphones, laptops, accessories, and more, we're your one-stop destination for all things tech.
            </p>
            <p class="about-description">
                @await Component.InvokeAsync("TeamDescription")
            </p>
            <a asp-area="" asp-controller="Home" asp-action="Store" class="home-btn-shop">Go Shopping</a>
        </div>
    </div>
</container>