@model Task_1.ViewModels.IndexViewModel;
@{
    ViewData["Title"] = "Lorem Store";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/date.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/store.css" asp-append-version="true" />
<container class="mt-5">
    <div class="text-center d-flex">
        <div style="flex: 60%; text-align: left; display:flex; flex-direction:column; align-items:start; justify-content:center">
            <main-text>
                @await Component.InvokeAsync("Greeting")
            </main-text>
            @await Component.InvokeAsync("Date")
            <h3>
                @await Component.InvokeAsync("Slogan")
            </h3>
            <a asp-area="" asp-controller="Home" asp-action="Store" class="home-btn-shop">Go Shopping</a>
        </div>
        <div style="flex: 40%; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); border-radius: 10px; overflow: hidden;">
            <img class="img-thumbnail" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcmkt-image-prd.global.ssl.fastly.net%2F0.1.0%2Fps%2F1149691%2F1160%2F772%2Fm1%2Ffpnw%2Fwm0%2Fpreview-set-01-.jpg%3F1459800362%26s%3Dfda6468a103dd34fe6c55b5d89e9425c&f=1&nofb=1&ipt=50a9f32d609e98ab246c8e3fbf135ec4ba68cba6ef8eaeae9828590dba5541e8&ipo=images">
        </div>
    </div>
</container>

<container class="mt-5">
    <h3 style="margin-top:5%;">Top Viewed Products</h3>
    <hr style="margin:30px 0;"/>
    @Html.CreateStoreList(Model.TopViewedProducts)
</container>

<script src="~/js/date.js" asp-append-version="true"></script>