@model Task_1.ViewModels.ReviewsViewModel

@{
    ViewData["Title"] = "Lorem Reviews";
}

@if (Model.IsManager)
{
    <container class="mt-5">
        <main-text>User messages</main-text>
        <div class="row" id="feedbackContainer">
            @foreach (var userMessage in Model.UserMessages)
            {
                <review user-id=@userMessage.UserId message=@userMessage.MessageText date=@userMessage.DateSent />
            }
        </div>
    </container>
}
else
{
    <link rel="stylesheet" href="~/css/messages.css" asp-append-version="true">
    <container>
        @using (Html.BeginForm("Reviews", "Home", FormMethod.Post))
        {
            <div id="message-form">
                <div class="form-group">
                    <div id="message-counter">Characters left: 3000</div>
                    <label for="message-text">Leave a message:</label>
                    <textarea class="form-control" id="message-text" rows="5" maxlength="3000" name="message"></textarea>
                    <input id="usernameSpan" name="username" value=@Model.Username style="display:none">
                </div>
                <div class="form-group d-flex flex-row-reverse mt-3">
                    <button type="submit" class="btn btn-primary" id="send-button" disabled>Send</button>
                </div>
            </div>
        }
    </container>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="~/js/messages.js" asp-append-version="true"></script>
}