@model Task_1.ViewModels.StoreViewModel

@{
    ViewData["Title"] = "Store";
}

<link rel="stylesheet" href="~/css/store.css" asp-append-version="true" />

<container>
    <container class="mt-4" style="margin:5% 0;">
        <div class="row">
            <div class="col-md-7">
                <input-group>
                    <input type="text" class="form-control" placeholder="Search items" id="searchInput">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">Search</button>
                    </div>
                </input-group>
            </div>
            <div class="col-md-5">
                <select class="form-control" id="categorySelect">
                    <option value="" selected>Select a category</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value=@category>@category</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-9">
                <!-- Empty column to push sorting-block to the right -->
            </div>
            <div class="col-md-3 d-flex">
                <input-group style="margin-right:30px;">
                    <select class="form-control" id="sortingSelect">
                        @await Component.InvokeAsync("Option", new { value = "Price", content = "Sort by Price"})
                        @await Component.InvokeAsync("Option", new { value = "Rating", content = "Sort by Rating"})
                        @await Component.InvokeAsync("Option", new { value = "DiscountPercentage", content = "Sort by Discount"})
                    </select>
                </input-group>
                <input-group>
                    <button id="sortPropertyAsc" class="btn btn-outline-secondary" type="button">Asc</button>
                    <button id="sortPropertyDesc" class="btn btn-outline-secondary" type="button">Desc</button>
                </input-group>
            </div>
        </div>
    </container>
    @Html.CreateStoreList(Model.Products);
</container>

<script src="~/js/store.js" asp-append-version="true"></script>