body {
    background-color: #f8f9fa;
}

.product-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

.product-image {
    max-width: 100%;
    border-radius: 10px;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-top: 20px;
}

.product-description {
    color: #666666;
    margin-top: 10px;
}

.product-details {
    margin-top: 4vh;
    gap: 1vh 0;
    margin-bottom: 2vh;
}

    .product-details p {
        margin-bottom: 5px;
    }

.back-btn {
    background: linear-gradient(to right, #007bff, #00bfff);
    color: #ffffff;
    border: none;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s ease;
}

.back-btn:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.56);
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.56);
}

.divider {
    border-top: 3px solid #000000;
    width: 65%;
    margin: 20px auto;
}

#reviewFormContainer {
    padding:10px 20px;
    border: 1px groove #666666;
    border-radius: 10px 10px 15% 10px;
}

.glyphicon {
    display: inline-block;
    padding: 0 5px;
}

.glyphicon-chevron-right:after {
    content: "\00BB";
}

.glyphicon-chevron-left:before {
    content: "\00AB";
}