@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/index.css" />

<div class="text-center" id="index-container">
    <h1 class="display-4">Lumenum Libraria</h1>
    <p>Embark into an endless journey for priceless information</p>
    <a class="index-btn-dive" asp-page="/Books">Dive In</a>
</div>
