@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<div class="text-center" id="wrapper">
    <div id="home-what-is-dnd-block">
        <h1 class="display-4">Dungeons & Dragons</h1>
        <div id="home-what-is-dnd-container">
            <div id="home-what-is-dnd-text">
                <div class="mb-20">
                    <h2>What is D&D?</h2>
                    <h3>The World's Greatest Roleplaying Game</h3>
                </div>
                <div class="home-what-is-dnd-descr">
                    <p>
                        Find out why millions of players worldwide have stepped into the boots of mighty heroes (and sneaky antiheroes) to create their own stories.
                    </p>
                </div>
            </div>
            <div id="home-what-is-dnd-video">
                <div class="mb-30">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/q4qWta5o6n8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div id="welcome-container">
        <h2><strong>WELCOME TO D&amp;D!</strong></h2>
        <p><em>On these pages, you'll find guidance and resources to learn the game and continue your journey. As a first step, we also recommend the <a href="https://dnd.wizards.com/products/starter-set">D&amp;D Starter Set</a>, which contains everything you need to play Dungeons &amp; Dragons!</em></p>
        <hr style="border-top-color: #000;">
        <img src="//images.ctfassets.net/swt2dsco9mfe/mXODPzF87PZPmcd8nd6C8/43f03d2ba0912b5282da58241fa4af0e/dnd_whatisdnd_sampleplay.jpg" align="right" alt="Dungeons &amp; Dragons">
        <p>In Dungeons &amp; Dragons, the players form an adventuring party who explore fantasy worlds together as they embark on epic quests and level up in experience. The Dungeon Master (also known as the DM or GM) is the game's referee and storyteller. There’s no winning or losing in D&amp;D—at least, not in the conventional way.</p>
        <p>At its heart, D&amp;D is a game that focuses on storytelling. The dice just help you along. Everything is your decision, from what you look like, to how you act, to what happens next.</p>
        <p>The collective creativity in your D&amp;D game builds stories that you’ll tell again and again—ranging from the stuff of legend to absurd incidents that’ll make you laugh years later.</p>
        <p>Have fun and remember the golden rule—never split the party!</p>
    </div>
</div>