@page "/otters"

<PageTitle>Otters</PageTitle>

<h1 class="display-4">All about the sea otter</h1>
<hr style="margin:0 auto; margin-top:5px; border:none; height:6px; border-radius:15px; color:black;">
<p>
	There are many types of otters in the world. Some live on land, some in freshwater, others in the sea. Some live in the Americas, others in Asia. However, only one species of otter is fully aquatic — Enhydra lutris. This is the species known as the sea otter.
</p>

<h3>Scientific names</h3>
<i>Enhydra lutris</i> has three subspecies that live in geographically separate populations:
<ul>
	<li><i>Enhydra lutris nereis</i> — Southern sea otter or “California” sea otter; ranges in California from San Mateo County in the north to near Santa Barbara County in the south</li>
	<li><i>Enhydra lutris kenyoni</i> — northern sea otter; found along the coast of Alaska and Washington</li>
	<li><i>Enhydra lutris lutris</i> — Russian sea otters; found in the Pacific ocean off the coasts of Russia and Japan</li>
</ul>
<p>
	Here at the Aquarium, our sea otters are southern, or California, sea otters. The most notable physical difference between this subspecies and its northern cousins is size. 
	Whereas a female southern sea otter grows up to 50 pounds, a female northern sea otter can weigh up to 70 pounds. For males, the difference is also significant — a southern male 
	grows up to 70 pounds while a northern male can reach up to 100 pounds!
</p>

<h3>Habitat</h3>

<p>
	In Monterey Bay, the sea otter lives in kelp forest and estuary habitats.
</p>

<p>
	The sea otter is an important part of both of these habitats — It’s a keystone species, which means that the health of sea otters is a good indication of the health of other species and ecosystems nearby.
</p>

<p>
	In the kelp forest, it eats sea urchins and other animals that graze on giant kelp. When urchins go unchecked, they create areas called “urchin barrens” where nothing else lives. With sea otters helping to keep the urchins under control, kelp forests can thrive and support a rich community of plants and animals.
</p>

<p>
	Similarly, in estuaries, otters keep eelgrass healthy by eating crabs, which in turn allows the sea slug population to thrive. These sea slugs then eat algae that would otherwise coat and smother the eelgrass that fish need for food and shelter.
</p>

<h3>What do sea otters eat?</h3>
<p>
	The southern sea otter eats invertebrates like crabs, snails, urchins, clams, abalone, and mussels — for breakfast, lunch, dinner, and between-meal snacks! Northern sea otters are also known to eat fish.
</p>
<p>
	A sea otter may hunt on the seafloor but always returns to the surface to eat. Floating there on its back, it uses its chest as a table. (And if dinner is a crab or clam, the otter may use a rock to crack open its prey.)
</p>

<p>
	Do you ever carry a snack for later? An otter does, too! An otter's coat has pockets — loose skin under each forearm. An otter uses them to stash prey during a dive, which leaves its paws free to hunt some more.
</p>