@page "/pollution"

<PageTitle>Pollution</PageTitle>

<div>
	<h1 style="margin-top: 0.875rem; font-size: 3.75rem; line-height: 1; letter-spacing: -0.05em; color: #357cab; text-indent:20px;">
		Plastic pollution
	</h1>
	<hr style="margin-top:5px; border:none; height:6px; border-radius:15px; color:black;">
</div>

<div style="display:flex; justify-content:center; align-items:center; flex-direction:column; padding: 10% 40%; background-image:url(imgs/trash.jpg);">
	<div style="background-color:white; padding:5px 15px; border-radius:15px;">
		<h2 class="heading-large" style="text-align: center;">
			<span class="adage-theme-text-black">
				Ocean plastic pollution is a problem we can solve
			</span>
		</h2>
		<p class="text-large" style="text-align: center;">
			<span class="adage-theme-text-dark-concrete">
				Millions of tons of plastic trash litter our coastlines and ocean, from the surface to the deep sea. Simply put, we are creating and
				using plastic at a much faster rate than we can sustainably manage plastic waste. As a result, more and more plastic is finding its way to the ocean,
				impacting ocean wildlife and ecosystems around&nbsp;the&nbsp;world.
			</span>
		</p>
		<p class="text-large" style="text-align: center;">
			<strong>
				<span class="adage-theme-text-dark-concrete">
					Dive deeper into the major causes and impacts of ocean plastic pollution — and what we can do&nbsp;about&nbsp;it.
				</span>
			</strong>
		</p>
	</div>
</div>