@page
@model Homework_1.Pages.Task1Model
@{
}

<h1 class="text-center">
	Task 1
</h1>
<h3 class="text-center">
	<b>Задание</b>: Создайте и запустите базовое приложение ASP.NET
	Core, построенное на основании ASP.NET Razor Pages
</h3>
<h4 class="text-center mt-5">
	<b>Результат</b>: Создано и запущено
</h4>
